@import "./src/styles/includes/variables";
@import "./src/styles/includes/mixins";

.cartAction {
  gap: 10px;
}

.skip,
.memorized,
.favorite {
  border-radius: $br-circle;
  width: 48px;
  height: 48px;
  justify-content: center !important;
  &:disabled {
    background: $gray;
  }
  // &:active {
  //   transform: scale(1.2);
  // }
}
.skip {
  @extend %red-color;
  // &:hover {
  //   background: rgba($red, 0.1);
  //   box-shadow: 0px 0px 7px lighten($red, 15%);
  // }
  // transition: $transition-default;
}
.memorized {
  @extend %green-color;
  font-size: 18px;
  // transform: translateY(1px);
  // &:hover {
  //   background: rgba($green, 0.1);
  //   box-shadow: 0px 0px 7px lighten($green, 15%);
  // }
  // transition: $transition-default;
}
.favorite {
  @extend %yellow-color;
  font-size: 21px;
  // transform: translateY(2px);
  // &:hover {
  //   background: rgba($yellow, 0.1);
  //   box-shadow: 0px 0px 7px lighten($yellow, 15%);
  // }
}

.bookmarkActive {
  border: 1px solid $yellow;
}
