@import "./src/styles/includes/variables";

.cardMain {
  text-align: center;
  & > h3 {
    overflow: hidden;
    opacity: 0;
  }
}

.errorBoxShadow {
  box-shadow: 0px 0px 15px lighten($red, 20%);
  background: lighten($red, 30%);
}
.successBoxShadow {
  box-shadow: 0px 0px 15px lighten($green, 25%);
  background: lighten($green, 45%);
}

.showAnswer {
  & > h3 {
    overflow: visible;
    opacity: 1;
  }
}
