@import "./src/styles/includes/variables";

.title {
  line-height: 1;
  font-weight: 900;
  @media (max-width: 426px) {
    font-size: $fz-big !important;
  }
}

.title1 {
  font-size: $fz-ubig !important;
  line-height: 1;
  font-weight: 600;
  @media (max-width: 426px) {
    text-align: center;
    font-size: $fz-big !important;
  }
}

.title2 {
  font-size: $fz-big !important;
  line-height: 1;
  font-weight: 600;
  @media (max-width: 426px) {
    text-align: center;
    font-size: $fz-semibig !important;
  }
}

.title3 {
  font-size: $fz-middle !important;
  line-height: 1;
  font-weight: 600;

  @media screen and (max-width: 425px) {
    font-size: $fz-regular !important;
  }
}

.title4 {
  font-size: $fz-small !important;
  line-height: 1;
  font-weight: 600;
}

.paragraph {
  font-weight: 400;
  font-size: $fz-regular;
  line-height: 150%;
  @media screen and (max-width: 425px) {
    font-size: $fz-light;
  }
}

.paragraphBig {
  font-size: $fz-middle;
  line-height: 150%;
  font-weight: 400;
  @media screen and (max-width: 425px) {
    font-size: $fz-light;
  }
}

.center {
  text-align: center;
}
