// Add fonts
@mixin addFont($font_name, $file_name, $font_weight, $font_style) {
  @font-face {
    font-family: $font_name;
    font-display: fallback;
    src: url("./../../assets/fonts/#{$file_name}.ttf");
    font-weight: #{$font_weight};
    font-style: #{$font_style};
  }
}

// Icon settings
%icon {
  @each $key, $value in (big: 30px, reg: 26px, sm: 10px) {
    &-#{$key} {
      height: $value;
      width: $value;
      min-width: $value;
    }
  }
}

// Colors
%red-color {
  color: $red;
  transition: $transition-default;
  &:hover {
    color: darken($red, 10%);
  }
}
%green-color {
  color: $green;
  transition: $transition-default;
  &:hover {
    color: darken($green, 10%);
  }
}
%yellow-color {
  color: $yellow;
  transition: $transition-default;
  &:hover {
    color: darken($yellow, 10%);
  }
}
