@import "./src/styles/includes/variables";

.selection {
  label {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    cursor: pointer;
    input {
      display: none;
    }
    display: flex;
    width: 100%;
    padding: 12px 15px;
    font-weight: 600;
    color: $c-secondary;
    border-radius: $br-soft-square;
    border: 2px solid lighten($c-fivefold, 40%);
    transition: $transition-default;

    @media (any-hover: hover) {
      &:hover {
        background: lighten($secondary, 15%);
      }
    }
  }
}
.disabled {
  //background: $gray;
  cursor: default !important;
  pointer-events: none;
}

.errorSel {
  background: lighten($red, 30%);
}
.successSel {
  background: lighten($green, 45%);
}
