@import "./src/styles/includes/variables";

.selection {
  button {
    display: flex;
    width: 100%;
    padding: 12px 15px;
    font-weight: 600;
    color: $c-secondary;
    transition: $transition-default;
    &:hover {
      background: lighten($secondary, 15%);
    }
  }
}
