@import "./src/styles/includes/variables";

.button {
  white-space: nowrap;
  user-select: none;

  &[disabled] {
    cursor: initial;
  }

  &_primary {
    background: $primary;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $tertiary;
    padding: 13px 14px;
    border-radius: 14px;
    transition: $transition-default;

    &:hover {
      background: $lightPrimary;
      border-color: $bg-secondary;
    }

    @media screen and (max-width: 768px) {
      &:hover {
        background: $lightPrimary;
        border-color: $bg-secondary;
      }
    }

    &[disabled] {
      background: #7c7778;
      border-color: #7c7778;
    }

    span {
      color: $tertiary;
    }
  }

  // &_secondary {
  //   background: $secondary;
  //   font-weight: 600;
  //   font-size: 16px;
  //   line-height: 20px;
  //   color: $c-primary;
  //   padding: 13px 14px;
  //   border: 1px solid $bg-secondary;
  //   border-radius: 14px;
  //   transition: $transition-default;

  //   &:hover {
  //     border: 1px solid #7c7778;
  //     color: #7c7778;

  //     span {
  //       color: #7c7778;
  //     }
  //   }

  //   span {
  //     transition: $transition-default;
  //     color: $c-primary;
  //   }

  //   @media screen and (max-width: 768px) {
  //     &:hover {
  //       border: 1px solid $bg-secondary;
  //       color: $c-primary;

  //       span {
  //         color: $c-primary;
  //       }
  //     }
  //   }
  // }

  // &_color {
  //   //background: $bg-tertiary;
  //   line-height: 20px;
  //   font-weight: 600;
  //   font-size: 16px;
  //   //color: $bg-fivefold;
  //   border-radius: 14px;

  //   &:hover {
  //   }

  //   &:active {
  //   }

  //   &[disabled] {
  //     background: #ede8e8;
  //     color: #afacac;

  //     span {
  //       color: #c9c9c9;
  //     }
  //   }

  //   span {
  //     color: $c-tertiary;
  //   }

  //   @media screen and (max-width: 768px) {
  //     &:hover {
  //       //background: $bg-tertiary;
  //     }
  //   }
  // }

  &_outlined {
    //background: $bg-tertiary;
    line-height: 20px;
    padding: 10px 11px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid lighten($primary, 20%);
    transition: $transition-default;
    color: lighten($primary, 15%);

    &:hover {
      color: $primary;
      border: 1px solid $primary;
    }

    &[disabled] {
      background: #ede8e8;
      color: #afacac;

      span {
        color: #c9c9c9;
      }
    }
  }

  &_light {
    //background: $bg-fivefold;
    line-height: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 16px;
    color: $bg-secondary;
    border-radius: 14px;

    &_ac {
      color: $secondary;
      @media (max-width: 768px) {
        color: $primary !important;
      }
    }

    // span {
    //   color: $bg-secondary;
    // }
  }

  &_common {
    padding: 13px 13px;
  }
}
