@import "./src/styles/includes/variables";

.logo {
  display: inline-flex;
  flex-direction: column;
  &:hover {
    span {
      color: $c-quaternary;
    }
  }
  user-select: none;
}

.first {
  font-weight: 500;
  font-size: 20px;
  color: $c-tertiary;
  transition: $transition-default;
}

.second {
  font-size: 12px;
  color: $c-quaternary;
  color: lighten($c-tertiary, 10%);
  transition: $transition-default;
}
