@import "./src/styles/includes/variables";

.contLearnCard {
  @media (max-width: 468px) {
    flex: 1 1 auto;
  }

  //transform: translate(-);
  margin-top: -20px;
}
.counter {
  border-radius: $br-soft-square;
  border: 2px solid lighten($c-fivefold, 40%);
}

.learnCard {
  max-width: 380px;
  text-align: center;
}

.centered {
  flex: 1 1 auto;
}

.title {
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
