@import "./src/styles/includes/variables";

.container {
  @media (max-width: 768px) {
    padding-bottom: 75px;
  }
}
.cards {
  gap: 30px;
}

.card {
  flex: 0 0 400px;
  @media (max-width: 768px) {
    flex: 1 1 auto;
  }
  box-shadow: $card-box-shadow;
}
.text {
  flex: 1 1 auto;
}
